@font-face {
    font-family: 'roboto-bl';
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'roboto-b';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'roboto-l';
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'roboto-m';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'roboto-r';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'roboto-t';
    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'opensans';
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'myriad';
    src: url('../fonts/MyriadPro-Regular.ttf');
}
@font-face {
    font-family: 'tcceb';
    src: url('../fonts/TCCEB.TTF');
}
@font-face {
    font-family: 'circular-b';
    src: url('../fonts/CircularStd-Bold.ttf');
}
@font-face {
    font-family: 'circular-m';
    src: url('../fonts/CircularStd-Medium.ttf');
}
@font-face {
    font-family: 'Varela Round';
    src: url('../fonts/VarelaRound-Regular.ttf');
}
@font-face {
    font-family: 'circular-t';
    src: url('../fonts/CircularAir-Light.ttf');
}
